.w-full {
    width: 100% !important;
}

.max-w-sm {
    max-width: 380px !important;
}

.b-radius {
    border-radius: 10px;
}

.container.is-centered {
    display: flex;
    justify-content: center;
}

.relative {
    position: relative;
}

.textarea {
    resize: vertical;
}

.table-container {
    width: 100%;

    .table {
        width: 100%;
    }
}

.is-primary {
    background-color: $main-color !important;
}

button.is-primary:hover {
    background-color: $main-color-hover !important;
    cursor: pointer;
}

a.is-primary:hover {
    background-color: $main-color-hover !important;
    cursor: pointer;
}