.w-full {
    width: 100% !important;
}

.max-w-sm {
    max-width: 380px !important;
}

.b-radius {
    border-radius: 10px;
}

.container.is-centered {
    display: flex;
    justify-content: center;
}