$primary: #7400B8;
$success: #5390D9;

@import "../node_modules/bulma/bulma.sass";

[x-cloak] { display: none !important; }

html, body {
    font-family: "Poppins", sans-serif;
}

.section {
    padding: 1rem 1.5rem 1.8rem 1.5rem !important;
}

.navbar {
    z-index: 0 !important;
}

.relative {
    position: relative;
}

.info-section {
    width: 100%;
}

.info-container {
    width: 100%;
}

.delete-menu-container {
    position: fixed;
    width: 100svw;
    height: 100svh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(85, 85, 85, 0.5);
    z-index: 30000;
}

.delete-menu-form {
    text-align: center;
    width: 300px;
    color: rgb(31, 31, 31);
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem 2rem;

    p {
        margin-bottom: 10px;
    }

}

table, td, th {
    text-align: left;
    width: 650px;
    padding: 10px;
}

.edit-buttons-container {
    display: flex;
    gap: 1rem;
}

@media screen and (min-width: 1024px) {
    .editar-menu-desktop {
        display: flex;
        flex-direction: row;
    }
}