table, td, th {
    text-align: left;
    width: 650px;
    padding:5px;
}

.edit-buttons-container {
    display: flex;
    gap: 1rem;
}

@media screen and (min-width: 1024px) {
    .editar-menu-desktop {
        display: flex;
        flex-direction: row;
    }
}