@import "../node_modules/bulma/bulma.sass";
@import "./variables.scss";
@import "./utilities.scss";

[x-cloak] { 
    display: none !important;
}

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1rem;
}

.dashboard-container {
    min-height: 100svh;
}

.create-container {
    max-width: 350px;
    margin: 0 auto;
}

.section {
    padding: 1rem 1.5rem 1.8rem 1.5rem !important;
}

.dashboard-nav {
    z-index: 0 !important;
    display: flex;
    justify-content: space-between !important;
}

.relative {
    position: relative;
}

.info-section {
    width: 100%;
}

.info-container {
    width: 100%;
}

.delete-menu-container {
    position: fixed;
    width: 100svw;
    height: 100svh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(85, 85, 85, 0.5);
    z-index: 30000;
}

.delete-menu-form {
    text-align: center;
    width: 300px;
    color: rgb(31, 31, 31);
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem 2rem;

    p {
        margin-bottom: 10px;
    }

}

.edit-buttons-container {
    display: flex;
    gap: 1rem;
}

.textarea {
    resize: vertical;
}

.editar-menu-desktop:first-child h3 {
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .editar-menu-desktop {
        display: flex;
        flex-direction: row;
    }
}
