{% extends 'base.html' %}

{% block main_class %}accounts-page{% endblock %}
{% block title %}Iniciar Sesión - Menudiño{% endblock %}

{% block content %}
  <div class="container accounts-container">
    <form method="post" class="accounts-form">
      <div class="has-text-centered mb-5">
        <h1 class="title is-3" >Menudiño</h1>
      </div>
      {% csrf_token %}
      {% for field in form.visible_fields %}
        {% include "partials/field.html" with field=field %}
      {% endfor %}

      <div class="my-3">
        {% for error in form.non_field_errors %}
          <div class="help is-danger">
            {{ error }}
          </div>
        {% endfor %}
      </div>

      <div class="buttons-container-login">
        <button class="button" href="{% url 'registrarse' %}">
          Crear Cuenta
        </button>
        <button class="button is-primary" type="submit">Iniciar Sesión</button>
      </div>
    </form>
    <div style="height: 20svh;"></div>
  </div>
{% endblock %}