{% load widget_tweaks %}

<div class="field">
    <label class="label">{{ field.label }}</label>
    <div class="control">
        {% if 'textarea' in field.field.widget.template_name %}
            {% render_field field class+="textarea" %}
        {% else %}
            {% render_field field class+="input" %}
        {% endif %}
    </div>
</div>
<div class="my-3">
    {% for error in field.errors %}
        <div class="help is-danger">
            {{ error }}
        </div>
    {% endfor %}
</div>