{% extends 'dashboard_skeleton.html' %}

{% block main_class %}create-menu-page{% endblock %}
{% block title %}Crear Categoría | Menudiño{% endblock %}

{% block content %}

    <div
        class="column is-one-quarter mx-auto is-flex is-flex-direction-column is-justify-content-center is-align-content-center my-6"
    >
        <form method="POST" action="{% url 'gestion:crear-categoria' menu.pk %}" class="create-menu-form">
            {% csrf_token %}
            {% for field in form.visible_fields %}
                {% include "partials/field.html" with field=field %}
            {% endfor %}
            <div class="is-flex is-justify-content-center" style="gap: 2rem;">
                <a href="{% url 'gestion:editar-menu' menu.pk %}" class="button">Cancelar</a>
                <button type="submit" class="button is-primary">Confirmar</button>
            </div>
        </form>
        <div style="height: 20svh;"></div>
    </div>

{% endblock %}