{% extends 'dashboard_skeleton.html' %}

{% block main_class %}create-menu-page{% endblock %}
{% block title %}Crear Menú | Menudiño{% endblock %}

{% block content %}
    <div class="container is-centered">
        <div class="card is-creation-card">
            <div class="card-header has-text-centered">
                <h4 class="card-header-title title is-4">Crear menú</h4>
            </div>
            <form method="POST" action="{% url 'gestion:crear-menu' %}" class="create-menu-form">
                {% csrf_token %}
                <div class="card-content">
                    {% for field in form.visible_fields %}
                        {% include "partials/field.html" with field=field %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="has-text-danger has-text-centered mb-3">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="card-footer">
                    <a href="{% url 'gestion:dashboard' %}" class="button">Cancelar</a>
                    <button type="submit" class="button is-primary">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}