{% extends 'dashboard_skeleton.html' %}

{% block content %}
  <div  class="mt-6" x-cloak x-data="{ deleteURL: '' }">
    <div class="is-flex is-justify-content-space-between px-2">
      <h3 class="title">Menús</h3>
      <a class="button is-primary" href="{% url 'gestion:crear-menu' %}">
        Crear un menú
      </a>
    </div>
    <section id="menu-cards">
      {% if menus %}
        <div class="columns is-multiline m-0" id="grid">
          {% for menu in menus %}
            <div class="column is-6 is-4-widescreen is-flex">
              <div class="card is-menu">
                <div class="card-header">
                  <h5 class="card-header-title">{{ menu.nombre }}</h5>
                </div>
                <div class="card-content">
                  {{ menu.descripcion }}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <h2 class="title is-5">Aún no has creado ningún menú</h2>
      {% endif %}
    </section>
  </div>
{% endblock %}
