{% extends 'gestion_layout.html' %}

{% block content %}

    {% if user.is_authenticated %}
        <section class="section">
            <div class="table-container">
                {% if menus %}
                    <table class="table is-stripped">
                        <thead>
                            <tr>
                                <th style="width: 300px;">Nombre</th>
                                <th>Platos</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for menu in menus %}
                                <tr>
                                    <td>{{ menu.nombre }}</td>
                                    <td>{{ menu.plato_count }}</td>
                                    <td>Publicado</td>
                                    <td>
                                        <a href={% url "core:menu-detail" menu.pk %}>Ver</a>
                                        <span> | </span>
                                        <a href={% url "gestion:editar-menu" menu.pk %}>Editar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h2 class="title is-5">Aún no has creado ningún menú</h2>
                {% endif %}
                <a class="button is-primary" href={% url "gestion:crear-menu" %}>Crear un menú</a>
            </div>
        </section>
    {% endif %}

{% endblock %}