{% extends 'gestion_layout.html' %}

{% block main_class %}create-menu-page{% endblock %}
{% block title %}Editar Menú | Menudiño{% endblock %}

{% block content %}
    <div class="editar-menu-desktop">
        <section class="section is-flex is-flex-direction-column is-flex-grow-2">
            <h3 class="title">Menú</h3>
            <div
                class="container is-flex is-flex-direction-column is-align-content-center"
                style="width: 320px;">
                <form method="POST">
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                        {% include "partials/field.html" with field=field %}
                    {% endfor %}
                    <div class="is-flex is-justify-content-center" style="gap: 1rem;">
                        <a href="{% url 'gestion:dashboard' %}" class="button">Cancelar</a>
                        <button type="submit" class="button is-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </section>
        <section class="info-section section is-flex is-flex-direction-column is-align-items-center is-flex-grow-2">
            <div class="info-container is-flex is-justify-content-space-between is-flex-wrap-wrap">
                <h3 class="title">Categorías</h3>
                <div class="edit-buttons-container">
                    <a class="button" href="{% url 'gestion:dashboard' %}">Volver al panel</a>
                    <a class="button is-primary" href="{% url 'gestion:crear-categoria' menu.pk %}">Crear categoría</a>
                </div>
            </div>
            <div class="table-container">
                {% if object.categoria_set.count > 0 %}
                    <table class="table is-stripped" style="width: fit-content;">
                        <thead>
                            <tr>
                                <th style="min-width:200px;">Nombre</th>
                                <th>Platos</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for categoria in object.categoria_set.all %}
                                <tr>
                                    <td>{{ categoria.nombre }}</td>
                                    <td>{{ categoria.plato }}</td>
                                    <td>Visible</td>
                                    <td style="width: fit-content;">
                                        <div style="display:flex; gap:1rem;">
                                            <a href="{% url 'gestion:editar-categoria' categoria.pk %}">Editar</a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h2 class="title is-5">Aún no has creado ninguna categoría</h2>
                {% endif %}
            </div>
        </section>
    </div>

{% endblock %}