{% extends 'gestion_layout.html' %}

{% block main_class %}create-menu-page{% endblock %}
{% block title %}Editar Menú | Menudiño{% endblock %}

{% block content %}

<section class="section">
    <div class="table-container">
        {% if object.categoria_set %}
            <table class="table is-stripped">
                <thead>
                    <tr>
                        <th style="width: 300px;">Nombre</th>
                        <th>Platos</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for categoria in object.categoria_set.all %}
                        <tr>
                            <td>{{ categoria.nombre }}</td>
                            <td>{{ categoria.plato }}</td>
                            <td>Visible</td>
                            <td>
                                <a href={% url "core:menu-detail" menu.pk %}>Ver</a>
                                <span> | </span>
                                <a href={% url "gestion:editar-menu" menu.pk %}>Editar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h2 class="title is-5">Aún no has creado ninguna categoría</h2>
        {% endif %}
        <a class="button" href={% url "gestion:dashboard" %}>Volver al panel</a>
        <a class="button is-primary" href={% url "gestion:crear-categoria" menu.pk %}>Crear categoría</a>
    </div>
</section>

{% endblock %}