{% extends 'gestion_layout.html' %}

{% block main_class %}create-menu-page{% endblock %}
{% block title %}Editar Categoría | Menudiño{% endblock %}

{% block content %}
    <div class="editar-menu-desktop">
        <section class="section is-flex is-flex-direction-column is-flex-grow-2">
            <div
                class="container is-flex is-flex-direction-column "
                style="width: 320px;">
                <form method="POST">
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                        {% include "partials/field.html" with field=field %}
                    {% endfor %}
                    <div class="is-flex is-justify-content-center" style="gap: 1rem;">
                        <a href="{% url 'gestion:dashboard' %}" class="button">Cancelar</a>
                        <button type="submit" class="button is-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </section>
        <section class="section is-flex is-flex-direction-column is-align-items-center is-flex-grow-2">
            <div class="table-container">
                {% if object %}
                    <table class="table is-stripped">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripcion</th>
                                <th>Precio</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for plato in object.plato_set.all %}
                                <tr>
                                    <td>{{ plato.nombre }}</td>
                                    <td>{{ plato.descripcion }}</td>
                                    <td>{{ plato.precio|floatformat:"2g" }} €</td>
                                    <td>Visible</td>
                                    <td>
                                        <a href="{% url 'core:menu-detail' categoria.menu.pk %}">Ver</a>
                                        <a href="{% url 'gestion:editar-categoria' categoria.pk %}">Editar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h2 class="title is-5">Aún no has creado ninguna categoría</h2>
                {% endif %}
            </div>
            <div class="edit-buttons-container">
                <a class="button" href="{% url 'gestion:dashboard' %}">Volver al panel</a>

            </div>
        </section>
    </div>

{% endblock %}