{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'normalize.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'public_menu.css' %}"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <title>{{ object.nombre }}</title>
  </head>
  <body>
    <header class="menu-categories-header">
      <img
        class="restaurant-menu-image"
        src="{% static 'images/restaurante-el-tunel-logo.jpg' %}"
      />
      <h1 class="menu-title">{{ object.nombre }}</h1>
    </header>
    <main>
      {% for categoria in object.categoria_set.all %}
        <section x-cloak x-data="{ show: false }" class="category">
          <a class="category-name" href="#categoria-{{ categoria.id }}">{{ categoria.nombre }}</a>
          <div
            id="categoria-{{ categoria.id }}"
            x-show="show"
            x-init="show = window.location.hash == '#categoria-{{ categoria.id }}'"
            x-on:hashchange.window="show = window.location.hash == '#categoria-{{ categoria.id }}'"
            x-transition
            class="category-detail"
          >
            <div class="category-content">
              <header>
                <h2>{{ categoria.nombre }}</h2>
              </header>
              <ul class="plates-list">
                {% for plato in categoria.plato_set.all %}
                  <hr/>
                  <li class="plate-item">
                    <div class="plate-info">
                      <div>
                        <p class="plate-name">{{ plato.nombre }}</p>
                        <p class="plate-description">{{ plato.descripcion }}</p>
                        <p class="plate-price">{{ plato.precio|floatformat:"2g" }} €</p>
                      </div>
                    </div>
                    {% if plato.imagen %}
                      <img class="plate-image" src="{{ plato.imagen.url }}" />
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
              <footer>
                <a
                  class="back-to-category"
                  href=""
                >&lt; Volver</a>
              </footer>
            </div>
          </div>
        </section>
      {% endfor %}
    </main>
  </body>
</html>