{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Marcos Rodrigues González" />
    <meta name="copyright" content="Marcos Rodrigues González" />
    <meta name="robots" content="noindex"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap" rel="stylesheet">
    <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'normalize.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'normalize.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'dist/public_menu.css' %}"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <title>{{ object.nombre }}</title>
    {% comment %} Favicon {% endcomment %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#383838">
    <meta name="apple-mobile-web-app-title" content="Menudi&ntilde;o">
    <meta name="application-name" content="Menudi&ntilde;o">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <header class="menu-categories-header">
      <img
        class="restaurant-menu-image"
        src="{% static 'images/restaurante-el-tunel-logo.jpg' %}"
      />
      <h1 class="menu-title">{{ object.nombre }}</h1>
    </header>
    <main>
      {% for categoria in object.categoria_set.all %}
        <section x-cloak x-data="{ show: false }" class="category">
          <a class="category-name" href="#categoria-{{ categoria.id }}">{{ categoria.nombre }}</a>
          <div
            id="categoria-{{ categoria.id }}"
            x-show="show"
            x-init="show = window.location.hash == '#categoria-{{ categoria.id }}'"
            x-on:hashchange.window="show = window.location.hash == '#categoria-{{ categoria.id }}'"
            x-transition
            class="category-detail"
          >
            <header>
              <h2>{{ categoria.nombre }}</h2>
            </header>
            <ul class="dish-list">
              {% for plato in categoria.plato_set.all %}
                {% if loop.counter > 0 %}
                  <hr/>
                {% endif %}
                <li class="dish-item">
                  <div class="dish-info">
                    <div>
                      <p class="dish-name">{{ plato.nombre }}</p>
                      <p class="dish-description">{{ plato.descripcion }}</p>
                      <p class="dish-price">{{ plato.precio|floatformat:"2g" }} €</p>
                    </div>
                  </div>
                  {% if plato.imagen %}
                    <img class="dish-image" src="{{ plato.imagen.url }}" />
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
            <footer>
              <a
                class="back-to-category"
                href=""
              >&lt; Volver</a>
            </footer>
          </div>
        </section>
      {% endfor %}
    </main>
  </body>
</html>