{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Marcos Rodrigues González" />
        <meta name="copyright" content="Marcos Rodrigues González" />
        <meta name="robots" content="noindex"/>
        <title>{% block title %}QRMenu - Gestión{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'normalize.css' %}"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'dist/dashboard.css' %}"
        />
        <script src="//unpkg.com/alpinejs" defer></script>
    </head>
    <body>
        <nav class="navbar is-primary is-flex is-justify-content-space-evenly is-align-items-center">
            <div class="navbar-brand is-flex-grow-1">
                <a class="navbar-item" href="{% url "gestion:dashboard" %}">
                    <strong>{{ request.user }}</strong>
                </a>
            </div>
            <div class="navbar-end is-flex">
                <div class="navbar-item">
                    {% if user.is_authenticated %}
                        <a class="has-text-white is-underlined" href="{% url 'logout' %}">
                            Cerrar Sesión
                        </a>
                    {% else %}
                        <div class="buttons">
                            <a class="button is-primary" href="{% url 'registrarse' %}">
                                <strong>Crear Cuenta</strong>
                            </a>
                            <a class="button is-light" href="{% url 'login' %}">
                                Iniciar Sesión
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </nav>
        <nav class="breadcrumb" aria-label="breadcrumbs" style="overflow: auto; overflow-y: hidden;">
            <div class="container mx-2 my-2">
                <ul style="flex-wrap: nowrap !important;">
                    {% for breadcrumb in breadcrumbs %}
                        <li class="{% if breadcrumb.active %}is-active{% endif %}">
                            <a href="{{ breadcrumb.href }}">{{ breadcrumb.label }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
        <main class="{% block main_class %}{% endblock %}">
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>