{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta
            name="description"
            content="Menudiño. Genera tu menú adaptado a tus necesidades, con opción a descargar un qr con acceso directo a tu menú"/>
        <meta name="keywords" content="menú, carta, qr, pdf, generador, restaurante, bar, cafetería"/>
        <meta name="author" content="Marcos Rodrigues González" />
        <meta name="copyright" content="Marcos Rodrigues González" />
        <meta name="robots" content="index,nofollow"/>
        <title>Menudiño | Generación de Menús</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap" rel="stylesheet">
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'normalize.css' %}"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'dist/landing.css' %}"
        />
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'images/favicon/safari-pinned-tab.svg' %}" color="#383838">
        <meta name="apple-mobile-web-app-title" content="Menudi&ntilde;o">
        <meta name="application-name" content="Menudi&ntilde;o">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <nav class="navbar is-flex is-align-items-center is-justify-content-space-between p-3">
            <div class="navbar-brand">
                <img src="/static/images/landing/Menudiño - Logo.png"/>
            </div>
            <hr>
            <div class="navbar-end">
                <div>
                    <a class="has-text-black" href="{% url 'registrarse' %}">
                        <strong>Registrarse</strong>
                    </a>
                    <span> | </span>
                    <a class="has-text-black has-text-weight-light" href="{% url 'login' %}">
                        Iniciar Sesión
                    </a>
                </div>
            </div>
        </nav>
        <header class="columns is-marginless has-text-white p-5 ">
            <div class="column">
                <h2 class="is-size-3-desktop hast-text-white mb-6 has-text-weight-bold">
                    Gestión integral de carta digital para tu negocio
                </h2>
                <ul>
                    <li class="list-item pb-2">Múltiples temas adaptados a dispositivos móviles</li>
                    <li class="list-item pb-2">Genera QR’s para facilitar el acceso a tus clientes</li>
                    <li class="list-item pb-2">Siempre online y disponible para editar</li>
                    <li class="list-item">Actívalo o desactívalo con un click</li>
                </ul>
            </div>
            <div class="column has-text-centered">
                <img src="{% static 'images/landing/header-img.png' %}"/>
            </div>
        </header>
        <section class="section py-4 pb-6 has-background-white">
            <h2 class="is-size-4 has-text-centered has-text-black has-text-weight-bold my-4">
                Planes
            </h2>
            <div class="columns">
                <div class="column is-marginless">
                    <div class="card free-card">
                        <div class="card-content">
                            <h3 class="has-text-centered is-size-4 has-text-weight-bold mb-3">Gratuito</h3>
                            <ul class="has-text-black">
                                <li class="list-item mb-2">Hasta un menú</li>
                                <li class="list-item">Precios ocultos</li>
                            </ul>
                        </div>
                        <div class="card-image has-text-centered">
                            <img src="{% static 'images/landing/freeplan-img.png' %}"/>
                        </div>
                    </div>
                </div>
                <div class="column is-marginless">
                    <div class="card premium-card">
                        <div class="card-content">
                            <h3 class="is-size-4 has-text-centered has-text-weight-bold mb-3">
                                Premium
                            </h3>
                            <ul class="has-text-black">
                                <li class="list-item pb-2">Hasta 5 menús</li>
                                <li class="list-item pb-2">Selección de temas</li>
                                <li class="list-item">Generación de código QR</li>
                            </ul>
                        </div>
                        <div class="card-image has-text-centered">
                            <img src="{% static 'images/landing/premiumplan-img.png' %}"/>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="is-flex is-justify-content-space-between has-background-dark has-text-white p-6 has-text-centered is-align-items-center">
            <div class="left-footer is-flex is-flex-direction-column is-justify-content-center">
                <span>Marcos Rodrigues © 2023</span>
            </div>
            <div class="right-footer is-flex is-flex-direction-row">
                <a href="#" class="has-text-white">Términos de Servicio</a>
                <a href="#" class="has-text-white">Política de Privacidad</a>
            </div>
        </footer>
    </body>
</html>